{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block body %}
    <h1 class="title">Login</h1>

    <p>
        For this demo use <em>admin/123456</em>
    </p>

    {% if error %}
        <div class="error">{{ error.message }}</div>
    {% endif %}

    <form action="{{ path("_login_check") }}" method="post" id="login" class="blogger">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="_password" />
        </div>

        <p>
		<input type="submit" value="Login" >
	</p>
    </form>
{% endblock %}

{% set code = code(_self) %}
