{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Add a New Post{% endblock %}

{% block body %}
	<h1>Add a New Post</h1>
	{% include 'BloggerBlogBundle:Blog:form.html.twig' with {'form': form} %}
	<p><a href="{{ path('admin_home') }}">Back</a></p>
{% endblock %}	